<%-include('../../partials/header') %>
<%-include('../../partials/navbarlogin') %>
<%-include('../../partials/navbarlogo') %>
<%-include('../../partials/navbarmenu') %>


<div class="container mt-3">

    <% if(message.error.length>0){%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Erro</strong> <%=message.error%>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%} %>
    <% if(message.success.length>0){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Parabéns</strong> <%=message.success%>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%} %>
    <% if(message.metodoEnvio.length>0){%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%=message.metodoEnvio%>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%} %>


    <h4 style="color: #3c763d;" class="display-4"><i class="fas fa-cart-plus"></i> Carrinho de Compras</h4>

    <% if(ord){%>
    <div id="area" class="text-center">

        <div class="row shadow-sm">
            <div class="col-md-2">Arquivo</div>
            <div class="col-md-4">Descrição</div>
            <div class="col-md-1">Quant</div>
            <div class="col-md-2">Prazo</div>
            <div class="col-md-1">Valor</div>
            <div class="col-md-2">Ações</div>
        </div>

        <div id="areaItens" class="mt-2">
            
        </div>

    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col">
                <small style="font-weight: bold;">Endereço de Entrega (Opção válida, para PAC E SEDEX)</small>
                <h5><%=ord.endereco.rua %>, <%=ord.endereco.bairro %>, <%=ord.endereco.numero %>,
                    <%=ord.endereco.cidade %>/<%=ord.endereco.uf %>-<%=ord.endereco.cep %></h5>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Mudar
                    Endereço</button>
            </div>
        </div>

    </div>
</div>

<!--Modal Endereço-->
<%- include('../../partials/cart/modalEndereco') %>

<!--Tipos de Entrega-->
<div class="container">

    <div class="card-body">
        <table class=" table">
            <thead class="shadow-sm">
                <tr>
                    <th scope="col">Tipos de Entrega</th>
                    <th scope="col">Prazo de Entrega</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><input type="radio" onclick="calcPrecoPrazo(event)" <%=ord.metodoEnvio=='BALCAO'?'checked':'' %>
                            data-idOrder="<%=ord.id %>" value="BALCAO" name="radio_metodo" id="radio_metodo"> RETIRAR NO
                        BALCÃO</td>
                    <td>De 3 dias úteis à 5 dias úteis, após a produção do último item</td>
                    <td>0,00</td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" data-idOrder="<%=ord.id %>" onclick="calcPrecoPrazo(event)"
                            value="PAC_VISTA" <%=ord.metodoEnvio=='PAC_VISTA'?'checked':'' %> name="radio_metodo"
                            id="radio_pac"> PAC
                    </td>
                    <td>....</td>
                    <td>....</td>
                </tr>
                <tr>
                    <td><input type="radio" data-idOrder="<%=ord.id %>" onclick="calcPrecoPrazo(event)"
                            value="SEDEX_VISTA" <%=ord.metodoEnvio=='SEDEX_VISTA'?'checked':'' %> name="radio_metodo"
                            id="radio_sedex"> SEDEX</td>
                    <td>....</td>
                    <td>....</td>                    
                </tr>
            </tbody>
        </table>

        <!--Retirar na base-->


        <input type="radio" data-idOrder="<%=ord.id %>" onclick="calcPrecoPrazo(event)" value="RETIRA_BASE"
            <%=ord.metodoEnvio=='RETIRA_BASE'?'checked':'' %> name="radio_metodo" id="radio_base">
        Retirar na base
        <span>15 dias úteis após a produção do último item</span>
        <span style="float: right;">Valor:R$ 30,00</span>

        <div class="card-body" id="divEstadoCidade">
            <div class="row">
                <div class="col-md-2">
                    <label for="estado">Estado</label>
                    <select required onchange="buscarCidadeByUf(event)" name="selectEstado"
                        class="form-control form-control-sm" id="selectEstado">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col">
                    <label for="cidade">Localidade</label>
                    <select required name="selectCidade" id="selectCidade" data-idOrder="<%=ord.id %>"
                        class="form-control form-control-sm">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>



    <div class="card-footer">
        
        <div class="row align-items-center">
            <div class="col">
                <h5 id="valorFrete" data-valorsemfrete="<%= ord.total %>">Valor Frete: <%= parseFloat(ord.valorFrete).toLocaleString('pt-br',{style:'currency',currency:'brl'}) %></h5>
                <h5 id="valorFinal" style="color: #3c763d;">Valor Total: <%= parseFloat(ord.valorFinal).toLocaleString('pt-br',{style:'currency',currency:'brl'}) %> </h5>
            </div>
            <div class="col-md-2 offset-md-5">
                <form onsubmit="confirmForm(event,this,'Deseja realmente finalizar o carrinho?')" action="/order/payment/"
                    method="POST">
                    <input type="hidden" name="idAddress" value="<%= ord.endereco.id %>">
                    <input type="hidden" name="idOrder" id="idOrder" value="<%= ord.id %>">
                    <button type="submit" data-toggle="tooltip" title="Finalizar Carrinho"
                        class=" btn btn-danger">Finalizar Carrinho</button>
                </form>
            </div>
        </div>

    </div>

</div>

<%} %>
</div>

</div>


<%- include('../../partials/footer') %>

<script src="/js/cart.js"></script>

<script src="/js/modalAlterarEndereco.js"></script>
