<%- include('../../partials/header') %>
<%- include('../../partials/navbarhome') %>


<div class="container mt-3">

    <% if(message.error.length>0){%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Erro</strong> <%=message.error%>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%} %>
    <% if(message.success.length>0){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Parabéns</strong> <%=message.success%>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%} %>

    <div class="card">
        <div class="card-header"><span class="display-4">Meu carrinho</span></div>
        <div class="card-body">
            <table class="table table-sm table-borderless">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Status</th>
                        <th>Valor Total</th>
                        <th>Frete</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(o => {%>
                    <tr>

                        <td>
                            <a href="#">
                                <h6 data-id="<%= o.id %>" onclick="onClick(event)">Ver itens</h6>
                            </a>
                        </td>
                        <td>
                            <h6><%= o.status %></h6>
                        </td>
                        <td>
                            <h6><%= parseFloat(o.total).toLocaleString('pt-br') %></h6>
                        </td>
                        <td>

                            <div class="row">
                                <div class="col-md-2 offset-md-4">
                                    <form onsubmit="remover(event,this,'Deseja realmente limpar o carrinho?')"
                                        method="POST" action="/admin/cart/delete">
                                        <input type="hidden" name="idOrder" value="<%= o.id %>">
                                        <button data-toggle="tooltip" title="Limpar Carrinho" type="submit"
                                            class=" btn btn-outline-primary material-icons">cleaning_services</button>

                                    </form>
                                </div>
                                <div class="col-md-2">

                                    <form onsubmit="remover(event,this,'Deseja realmente finalizar o carrinho?')"
                                        action="/cart/finish/" method="POST">
                                        <input type="hidden" name="idAddress" value="<%= o.endereco.id %>">
                                        <input type="hidden" name="idOrder" value="<%= o.id %>">
                                        <button type="submit" data-toggle="tooltip" title="Finalizar Carrinho"
                                            class=" btn btn-outline-primary material-icons">send</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div class="row">
                                <div id="conteudo<%= o.id %>" class="col" style="display: none;"> </div>
                            </div>
                        </td>
                    </tr>

                    <%}); %>

                </tbody>
            </table>
        </div>
    </div>


</div>

<%- include('../../partials/footer') %>

<script src="/js/ajax.js"></script>
<script src="/js/cart.js"></script>