<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>

<div class="container mt-3">

    <div class="row">
        <div class="input-group col-md-6 mb-3">
            <input id="cliente" name="cliente" type="text" class="form-control form-control-sm"
                placeholder="Buscar cliente">
            <div class="input-group-append">
                <btn class="btn btn-outline-secondary btn-sm" id="btnBuscar" name="btnBuscar">Buscar</a>
            </div>
        </div>
    </div>


    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Cnpj/Cpf</th>
                <th>email</th>
                <th class="text-center">Ação</th>
            </tr>
        </thead>
        <tbody>
            <% clients.forEach(clt => {%>

            <tr>
                <td>
                    <h6><%= clt.nome %></h6>
                </td>
                <td>
                    <h6><%= clt.cnpjCpf %></h6>
                </td>
                <td>
                    <h6><%= clt.email %></h6>
                </td>
                <td>
                    <div class="text-center">
                        <a href="" title="Ver Pedido" data-target="#exampleModal"><i
                                class="material-icons" data-toggle="tooltip" data-placement="top"
                                title="Comprados">monetization_on</i></a>
                        <a href="" data-toggle="modal" onclick="verCarrinho(event)" data-target="#exampleModal"
                            data-whatever="@getbootstrap"><i class="material-icons" data-clientId="<%=clt.id%>"
                                data-toggle="tooltip" data-placement="top"
                                title="Ver Carrinho">add_shopping_cart</i></a>
                        <a href="" title="Ver Pedido"><i class="material-icons" data-toggle="tooltip" data-placement="top"
                            title="Análise">analytics</i></a>
                    </div>
                </td>
            </tr>

            <%}); %>

        </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Carrinho</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col" id="modal-cliente"></div>
                        <div class="col" id="modal-idPedido"></div>
                    </div>
                    <div class="row">
                        <div class="col" id="modal-total"></div>
                        <div class="col" id="modal-status"></div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Cod</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Qtd</th>
                                <th scope="col">Valor</th>
                            </tr>
                        </thead>
                        <tbody id="modal-tabela">

                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>




<%- include('../../partials/footer') %>


<script>

    let cliente = document.getElementById('cliente')
    document.getElementById('btnBuscar').addEventListener('click', () => {
        document.location.href = cliente.value ? cliente.value : 'all'
    })
    
    function verCarrinho(event) {

        let cliente = document.getElementById('modal-cliente')
        cliente.innerHTML = ''
        let status = document.getElementById('modal-status')
        status.innerHTML = ''
        let total = document.getElementById('modal-total')
        total.innerHTML = ''
        let tabela = document.getElementById('modal-tabela')
        tabela.innerHTML = ''
        let idPedido = document.getElementById('modal-idPedido')
        idPedido.innerHTML = ''



        let clientId = event.target.dataset.clientid

        requisicao(`http://localhost:8090/main/order/${clientId}`, response => {
            let objJson = JSON.parse(response)

            console.log(objJson);

            cliente.innerHTML = `Cliente: ${objJson.ord.cliente.nome}`
            status.innerHTML = `Status: ${objJson.ord.status}`
            total.innerHTML = `Total: ${parseFloat(objJson.ord.total).toLocaleString("pt-br")}`
            idPedido.innerHTML = `Pedido: ${objJson.ord.id}`
            tabela.innerHTML = '';
            objJson.items.forEach(item => {
                let arquivo = item.arquivo ? `<a target="_blank" href="/uploads/${item.arquivo}" class="btn btn-warning btn-sm">Baixar Arquivo</a>` : ''
                tabela.innerHTML += `<tr>
                    <td>${item.id}</td>
                    <td>${item.produto.nome}</td>
                    <td>${item.qtd}</td>
                    <td>${parseFloat(objJson.ord.total).toLocaleString("pt-br")}</td>
                    <td>${arquivo}</td>
                    </tr>`
            })
        })
    }


</script>