<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>

<div class="container mt-3">

    <div class="row text-center">
        <div class="col">
            <%if(pedidos.filter(p=>p.status=='ANALISE_COMPROVANTE').length){%>

                <div class="alert alert-primary text-center" role="alert">
                    Atenção, você tem <%=pedidos.filter(p=>p.status=='ANALISE_COMPROVANTE').length%> pedido(s) aguardando confirmação de pagamento
               </div>
    
               <%}%> 
        </div>
           
          </div>
    
    <!--Um relatório de totais-->
    <div class="row text-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Total em Carrinho</h5>
                    
                        <h4 class="text-muted">
                            <% if(pedidos.filter(p=>p.status=='CARRINHO').length){%>
                                <%=pedidos.filter(p=>p.status=='CARRINHO').map(p=>parseFloat(p.valorFinal)).reduce((acum,obj)=>acum+=obj).toLocaleString('pt-br',{currency:'brl',style:'currency'})%>
                            <%}else{%>
R$ 0,00
                                <%}%>                            
                        </h4>
                        
                                        
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Total em Produção</h5>
                    <h4 class="text-muted">
                        <% if(pedidos.filter(p=>p.status=='EM_PRODUCAO' || p.status =='AGUARDANDO_PRODUCAO' ).length){%>
                            <%=pedidos.filter(p=>p.status=='EM_PRODUCAO' || p.status=='AGUARDANDO_PRODUCAO').map(p=>parseFloat(p.valorFinal)).reduce((acum,obj)=>acum+=obj).toLocaleString('pt-br',{currency:'brl',style:'currency'})%>
                        <%}else{%>
R$ 0,00
                            <%}%>                            
                    </h4>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Total Concluído</h5>
                    <h4 class="text-muted">
                        <% if(pedidos.filter(p=>p.status=='CONCLUÍDO').length){%>
                            <%=pedidos.filter(p=>p.status=='CONCLUÍDO').map(p=>parseFloat(p.valorFinal)).reduce((acum,obj)=>acum+=obj).toLocaleString('pt-br',{currency:'brl',style:'currency'})%>
                        <%}else{%>
                                R$ 0,00
                            <%}%>                            
                    </h4>
                </div>
            </div>
        </div>

    </div>
    

        <!--Totais em produção-->
        <div class="row mt-3">
            <div class="col text-center">
                <h5>Produção</h5>
                <hr>
            </div>
        </div>
       
        
        <div class="row mt-3">
            
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted text-center">
                            Aguardando Produção
                        </h5>
                    <% if(items.filter(i=>i.status=='AGUARDANDO_PRODUCAO'||i.status=='EM_PRODUCAO').length){%>
                       
                        <h4 class="text-muted text-center">
                            <%= items.filter(i=>i.status=='AGUARDANDO_PRODUCAO'||i.status=='EM_PRODUCAO').map(i=>parseFloat(i.valor)).reduce((acum,valor)=>acum+=valor).toLocaleString('pt-br',{currency:'brl',style:'currency'}) %> 
                        </h4>
                        <h6 class="text-center">
                            Quantidade: <%= items.filter(i=>i.status=='AGUARDANDO_PRODUCAO'||i.status=='EM_PRODUCAO').length %> 
                        </h6>
                        <%}else{%>
                        <h4 class="text-muted text-center">
                            R$ 0,00
                        </h4>
                        <h6 class="text-center">
                            Quantidade: 0
                        </h6>
                        <%} %> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted text-center">
                            Produzindo
                        </h5>
                        <% if(items.filter(i=>i.status=='PRODUZINDO').length){%>
                            
                            <h4 class="text-muted text-center">
                                <%= items.filter(i=>i.status=='PRODUZINDO').map(i=>parseFloat(i.valor)).reduce((acum,valor)=>acum+=valor).toLocaleString('pt-br',{currency:'brl',style:'currency'}) %> 
                            </h4>
                            <h6 class="text-center">
                                Quantidade: <%= items.filter(i=>i.status=='PRODUZINDO').length %> 
                            </h6>
                            <%}else{%>
                                <h4 class="text-muted text-center">
                                    R$ 0,00
                                </h4>
                                <h6 class="text-center">
                                    Quantidade: 0
                                </h6>
                                <%} %>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted text-center">
                            Acabamento
                        </h5>
                        <% if(items.filter(i=>i.status=='ACABAMENTO').length){%>
                            
                            <h4 class="text-muted text-center">
                                <%= items.filter(i=>i.status=='ACABAMENTO').map(i=>parseFloat(i.valor)).reduce((acum,valor)=>acum+=valor).toLocaleString('pt-br',{currency:'brl',style:'currency'}) %> 
                            </h4>
                            <h6 class="text-center">
                                Quantidade: <%= items.filter(i=>i.status=='ACABAMENTO').length %> 
                            </h6>
                            <%}else{%>
                                <h4 class="text-muted text-center">
                                    R$ 0,00
                                </h4>
                                <h6 class="text-center">
                                    Quantidade: 0
                                </h6>
                                <%} %> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted text-center">
                            Expedição
                        </h5>
                        <% if(items.filter(i=>i.status=='EXPEDICAO').length){%>
                           
                            <h4 class="text-muted text-center">
                                <%= items.filter(i=>i.status=='EXPEDICAO').map(i=>parseFloat(i.valor)).reduce((acum,valor)=>acum+=valor).toLocaleString('pt-br',{currency:'brl',style:'currency'}) %> 
                            </h4>
                            <h6 class="text-center">
                                Quantidade: <%= items.filter(i=>i.status=='EXPEDICAO').length %> 
                            </h6>
                            <%}else{%>
                                <h4 class="text-muted text-center">
                                    R$ 0,00
                                </h4>
                                <h6 class="text-center">
                                    Quantidade: 0
                                </h6>
                                <%} %> 
                    </div>
                </div>
            </div>
        </div>
</div>






<%- include('../../partials/footer') %>
