<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>

<div class="container mt-3">

    <!--Um relat贸rio de totais-->
    <div class="row text-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Total em Carrinho</h5>
                    <% if(totalCarrinho){%>
                    <h4><%= parseFloat(totalCarrinho).toLocaleString('pt-br',{style:'currency',currency:'BRL'}) %></h4>
                    <% }%>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Total em Pedido</h5>
                    <% if(totalCarrinho){%>
                    <h4><%= parseFloat(totalCarrinho).toLocaleString('pt-br',{style:'currency',currency:'BRL'}) %></h4>
                    <% }%>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Total Cancelado</h5>
                    <% if(totalCarrinho){%>
                    <h4><%= parseFloat(totalCarrinho).toLocaleString('pt-br',{style:'currency',currency:'BRL'}) %></h4>
                    <% }%>
                </div>
            </div>
        </div>

    </div>

    <!--Um relat贸rio do dia de hoje-->
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="card-header" style="color: blanchedalmond; background-color: blue;">
                    <h5>Hoje</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">Carrinho</div>
                        <div class="col">R$ 0,00</div>
                    </div>
                    <div class="row">
                        <div class="col">Pedido</div>
                        <div class="col">R$ 0,00</div>
                    </div>
                    <div class="row">
                        <div class="col">Mais Comprado</div>
                        <div class="col">R$ 0,00</div>
                    </div>
                    <div class="row">
                        <div class="col">Clientes Cadastrados</div>
                        <div class="col">10</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Um relat贸rio peri贸dico (mensal)-->
<div class="container">

    <div class="row">
        <div class="col">
            <canvas id="chartCarrinho"></canvas>
        </div>
        <div class="col">
            <canvas id="chartPedido"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <canvas id="chartCancelado"></canvas>
        </div>

        <div class="col">
            <canvas id="chartCancelado2"></canvas>
        </div>
    </div>

</div>




<%- include('../../partials/footer') %>
<script src="/js/main.js"></script>