<%- include('../../partials/header') %>
    <%- include('../../partials/navbaradmin') %>

        <div class="container mt-3">

            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-2">
                                    <label for="dataInicial">Data Inicial</label>
                                    <input type="date" name="dateStart" class="form-control form-control-sm"
                                        id="dateStart">
                                </div>

                                <div class="col-sm-2">
                                    <label for="dataFinal">Data Final</label>
                                    <input type="date" name="dateFinish" class="form-control form-control-sm"
                                        id="dateFinish">
                                </div>

                                <div class="col-md-4">
                                    <label for="inputCliente">Cliente</label>
                                    <input type="text" placeholder="Informe o nome do cliente" name="inputCliente"
                                        class="form-control form-control-sm" id="inputCliente">
                                </div>

                                <div class="col-md-3">
                                    <label for="selectStatus">Status</label>
                                    <select name="selectStatus" class="form-control form-control-sm"
                                        onchange="filtrar(event)" id="selectStatus">
                                        <option value="">Selecione uma opção</option>
                                        <option value="CARRINHO">Carrinho</option>
                                        <option value="CONCLUÍDO">Concluído</option>
                                        <option value="AGUARDANDO_PAGAMENTO">Aguardando pagamento</option>
                                        <option value="ANALISE_COMPROVANTE">Análise de Comprovante</option>
                                        <option value="EM_PRODUCAO">Em produção</option>
                                        <option value="CANCELADO">Cancelado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Pedido</th>
                        <th>Cadastro</th>
                        <th>Cliente</th>
                        <th>Status</th>
                        <th>Valor</th>
                        <th>Frete</th>
                        <th>Total</th>
                        <th class="text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <% ords.forEach(ord=> {%>
                        <tr>
                            <td>
                                <a href="#">
                                    <h6 data-id="<%= ord.cliente.id %>" onclick="onClick(event)">
                                        <%= ord.id %>
                                            <% if(ord.status=='CONCLUIDO' ){%>
                                                <i class="fas fa-flag"></i>
                                                <%} %>
                                    </h6>
                                </a>
                            </td>
                            <td>
                                <h6>
                                    <%= ord.createdAt.toLocaleDateString('pt-br')%>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <%= ord.cliente.nome %>
                                </h6>


                            </td>
                            <td>
                                <h6>
                                    <%= ord.status %>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <%= parseFloat(ord.total).toLocaleString('pt-br',{style:'currency',currency:'brl'})
                                        %>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <%= parseFloat(ord.valorFrete).toLocaleString('pt-br',{style:'currency',currency:'brl'})
                                        %>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <%= parseFloat(ord.valorFinal).toLocaleString('pt-br',{style:'currency',currency:'brl'})
                                        %>
                                </h6>
                            </td>
                            <td>
                                <div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <form action="/order/resume/" method="POST">
                                                <input type="hidden" name="idOrder" value="<%= ord.id %>">
                                                <button data-toggle="tooltip" data-placement="top" title="Ver Ficha"
                                                    data-target="#exampleModal" type="submit"
                                                    class="btn btn-outline-primary btn-sm"><i
                                                        class="fas fa-eye"></i></button>
                                            </form>
                                        </div>
                                        <% if(ord.status=='CONCLUÍDO' ){%>
                                            <div class="col">
                                                <button data-toggle="tooltip" title="Emitir NFS-e"
                                                    class="btn btn-outline-primary btn-sm"><i
                                                        class="far fa-sticky-note"></i></button>
                                            </div>
                                            <%} %>


                                    </div>

                                </div>
                            </td>
                        </tr>

                        <%}); %>

                </tbody>
            </table>
        </div>


        </div>

        <script>
            function filtrar(event) {

                let inputCliente = document.getElementById('inputCliente')
                let dateStart = document.getElementById('dateStart')
                let dateFinish = document.getElementById('dateFinish')
                let selectStatus = document.getElementById('selectStatus')

                if (inputCliente.value && dateStart.value && dateFinish.value) {
                    window.location.href = `http://localhost:8090/main/orders/${inputCliente.value}/${dateStart.value}/${dateFinish.value}/${selectStatus.value}`
                }

            }
        </script>
        <%- include('../../partials/footer') %>