<%- include('../../partials/header') %>
    <%- include('../../partials/navbaradmin') %>

        <div class="container mt-3">

            <div class="card mb-3">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-2">
                            <label for="dataInicial">Data Inicial</label>
                            <input type="date" name="dateStart" class="form-control form-control-sm" id="dateStart">
                        </div>

                        <div class="col-sm-2">
                            <label for="dataFinal">Data Final</label>
                            <input type="date" name="dateFinish" class="form-control form-control-sm" id="dateFinish">
                        </div>

                        <div class="col-md-4">
                            <label for="inputCliente">Cliente</label>
                            <input type="text" placeholder="Informe o nome do cliente" name="inputCliente"
                                class="form-control form-control-sm" id="inputCliente">
                        </div>

                        <div class="col-md-3">
                            <label for="selectStatus">Status</label>
                           <select name="selectStatus" class="form-control form-control-sm" onchange="filtrar(event)" id="selectStatus">
                               <option value="">Selecione uma opção</option>
                               <option value="RECEBIDO">Recebido</option>
                               <option value="RECUSADO">Recusado</option>
                               <option value="AGUARDANDO PAGAMENTO">Aguardando Pagamento</option>
                               <option value="ANALISE_COMPROVANTE">Análise de Comprovante</option>
                           </select>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row justify-content-center">
                <div class="col">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Cadastro</th>
                                <th>Cliente</th>
                                <th>Cnpj/Cpf</th>
                                <th>Pedido</th>
                                <th>Status</th>
                                <th>Informe</th>
                                <th>Valor</th>
                                <th class="text-center">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%pedidos.forEach(pedido=>{ %>
                                <tr>
                                    <td>
                                        <h6>
                                            <%=pedido.createdAt.toLocaleDateString('pt-br')%>
                                        </h6>
                                    </td>
                                    <td>
                                        <h6>
                                            <%=pedido.cliente.nome%>
                                        </h6>
                                    </td>
                                    <td>
                                        <%=pedido.cliente.cnpjCpf%>
                                    </td>
                                    <td>
                                        <h6>
                                            <%=pedido.id%>
                                        </h6>
                                    </td>
                                    <td>
                                        <h6>
                                            <%=pedido.pagamento?pedido.pagamento.status:pedido.status%>
                                        </h6>


                                        <% if(pedido.status!='CONCLUÍDO' &&pedido.pagamento){%>

                                            <% if(pedido.pagamento.comprovante!=undefined){%>
                                                <a href="#" id="btnVerComprovante" data-toggle="modal"
                                                    data-target="#modalVerComprovante" title="Analisar Comprovante"
                                                    data-comprovante="<%= pedido.pagamento.comprovante %>"
                                                    data-idOrder="<%=pedido.id%>" onclick="exibirComprovante(event)"
                                                    class="btn btn-sm btn-primary">Analisar
                                                    Comprovante <i class="fas fa-sticky-note"></i></a>
                                                <%} %>
                                                    <%} %>
                                    </td>
                                    <td>
                                        <h6>
                                            <%=pedido.pagamento?pedido.pagamento.informe:'----'%>
                                        </h6>
                                    </td>
                                    <td>
                                        <h6>
                                            <%=parseFloat(pedido.valorFinal).toLocaleString('pt-br',{style:'currency',currency:'brl'})%>
                                        </h6>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <a href="" title="Ver Pedido" data-target="#exampleModal"><i
                                                    class="material-icons" data-toggle="tooltip" data-placement="top"
                                                    title="Comprados">monetization_on</i></a>
                                            <a href="" data-toggle="modal" onclick="verCarrinho(event)"
                                                data-target="#exampleModal" data-whatever="@getbootstrap"><i
                                                    class="material-icons" data-clientId="" data-toggle="tooltip"
                                                    data-placement="top" title="Ver Carrinho">add_shopping_cart</i></a>
                                            <a href="" title="Ver Pedido"><i class="material-icons"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Análise">analytics</i></a>
                                        </div>
                                    </td>
                                </tr>
                                <%}) %>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>

            <div class="row text-center">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5>Total em Pedidos</h5>

                            <h4>
                                <% if(pedidos.length>0){%>
                                    <%= pedidos.map(pedido=>parseFloat(pedido.valorFinal)).reduce((acum,valorTotal)=>{
                                        return acum+=valorTotal
                                        }).toLocaleString('pt-br',{style:'currency',currency:'brl'}) %>
                                    <%} %> 
                               
                            </h4>
                            
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5>Total em Cancelados</h5>

                            <h4>
                                <%if(pedidos.filter(pedido=>pedido.status=='CANCELADO').length>0){%>
                                    <%=pedidos.filter(pedido=>
                                        pedido.status=='CANCELADO').map(pedido=>parseFloat(pedido.valorFinal)).reduce((acum,valorTotal)=>{
                                        return acum+=valorTotal
                                        }).toLocaleString('pt-br',{style:'currency',currency:'brl'}) %>
                                        <%}else{%>
                                            R$ 00,00
                                            <%}%>

                            </h4>


                        </div>
                    </div>
                </div>

            </div>

        </div>

        <%- include('../../partials/main/order/modalVerComprovante.ejs') %>
            <script src="/js/modalVerComprovante.js"></script>
            <script src="/js/payments.js"></script>

            <%- include('../../partials/footer') %>