<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/producao.css">
</head>

<body>
    <%- include('../../partials/navbaradmin') %>
        <div class="boards">
            <div class="board">
                <h3>Aguardando</h3>
                <div class="dropzone" data-status="AGUARDANDO_PRODUCAO">
                    <% itens.forEach(item=>{%>
                        <% if(item.status=="AGUARDANDO_PRODUCAO" ){%>
                            <div class="card" draggable="true" data-idItemOrder="<%= item.id %>"
                                data-status="<%= item.status %>">
                                <div class="status green"></div>
                                <div class="content">
                                    <img src="<%= item.produto.imagem %>" alt="" height="100" width="200"><br>
                                    <button data-toggle="modal" data-target="#modalParecer" class="btn btn-sm btn-primary">Informar Parecer</button>
                                    <hr>
                                    <span>Pedido nº <%= item.pedido.id%></span><br>
                                    <span>Item-Pedido nº <%= item.id%></span><br>
                                    <span class="text-center">
                                        <%= item.pedido.cliente.nome %>
                                    </span><br>
                                    <span>
                                        <%= item.produto.nome %>
                                    </span>
                                    <a href="/uploads/<%= item.arquivo %>"
                                        class="btn btn-primary btn-sm mt-3 mr-3 form-control">Baixar Arquivo</a>
                                </div>
                            </div>
                            <%} %>
                                <%}) %>
                </div>
            </div>

            <div class="board">
                <h3>Produzindo</h3>
                <div class="dropzone" data-status="PRODUZINDO">
                    <% itens.forEach(item=>{%>
                        <% if(item.status=='PRODUZINDO' ){%>
                            <div class="card" draggable="true" data-idItemOrder="<%= item.id %>"
                                data-status="<%= item.status %>">
                                <div class="status green"></div>
                                <div class="content">
                                    <img src="<%= item.produto.imagem %>" alt="" height="100" width="200"><br>
                                    <button data-toggle="modal" data-target="#modalParecer" class="btn btn-sm btn-primary">Informar Parecer</button>
                                    <hr>
                                    <span>Pedido nº <%= item.pedido.id%></span><br>
                                    <span>Item-Pedido nº <%= item.id%></span><br>
                                    <span class="text-center">
                                        <%= item.pedido.cliente.nome %>
                                    </span><br>
                                    <span>
                                        <%= item.produto.nome %>
                                    </span>
                                    <a href="/uploads/<%= item.arquivo %>"
                                        class="btn btn-primary btn-sm mt-3 mr-3 form-control">Baixar Arquivo</a>
                                </div>
                            </div>
                            <%} %>
                                <%}) %>
                </div>
            </div>

            <div class="board">
                <h3>Acabamento</h3>
                <div class="dropzone" data-status="ACABAMENTO">

                    <% itens.forEach(item=>{%>
                        <% if(item.status=='ACABAMENTO' ){%>
                            <div class="card" draggable="true" data-idItemOrder="<%= item.id %>"
                                data-status="<%= item.status %>">
                                <div class="status green"></div>
                                <div class="content">
                                    <img src="<%= item.produto.imagem %>" alt="" height="100" width="200"><br>
                                    <button data-toggle="modal" data-target="#modalParecer" class="btn btn-sm btn-primary">Informar Parecer</button>
                                    <hr>
                                    <span>Pedido nº <%= item.pedido.id%></span><br>
                                    <span>Item-Pedido nº <%= item.id%></span><br>
                                    <span class="text-center">
                                        <%= item.pedido.cliente.nome %>
                                    </span><br>
                                    <span>
                                        <%= item.produto.nome %>
                                    </span>
                                    <a href="/uploads/<%= item.arquivo %>"
                                        class="btn btn-primary btn-sm mt-3 mr-3 form-control">Baixar Arquivo</a>
                                </div>
                            </div>
                            <%} %>
                                <%}) %>
                </div>
            </div>

            <div class="board">
                <h3>Expedição</h3>
                <div class="dropzone" data-status="EXPEDICAO">
                    <% itens.forEach(item=>{%>
                        <% if(item.status=='EXPEDICAO' ){%>
                            <div class="card" draggable="true" data-idItemOrder="<%= item.id %>"
                                data-status="<%= item.status %>">
                                <div class="status green"></div>
                                <div class="content">
                                    <img src="<%= item.produto.imagem %>" alt="" height="100" width="200"><br>
                                    <button data-toggle="modal" data-target="#modalParecer" class="btn btn-sm btn-primary">Informar Parecer</button>
                                    <hr>
                                    <span>Pedido nº <%= item.pedido.id%></span><br>
                                    <span>Item-Pedido nº <%= item.id%></span><br>
                                    <span class="text-center">
                                        <%= item.pedido.cliente.nome %>
                                    </span><br>
                                    <span>
                                        <%= item.produto.nome %>
                                    </span>
                                    <a href="/uploads/<%= item.arquivo %>"
                                        class="btn btn-primary btn-sm mt-3 mr-3 form-control">Baixar Arquivo</a>
                                </div>
                            </div>
                            <%} %>
                                <%}) %>
                </div>
            </div>
        </div>


        <script src="/js/production.js"></script>
        <%- include('../../partials/main/production/modalParecer') %>
        <%- include('../../partials/footer') %>
</body>

</html>