<%-include('../../partials/header') %>
<%-include('../../partials/navbarlogin') %>
<%-include('../../partials/navbarlogo') %>
<%-include('../../partials/navbarmenu') %>


<div class="container mt-3">

    <% if(message.error.length>0){%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Erro</strong> <%=message.error%>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%} %>
    <% if(message.success.length>0){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Parabéns</strong> <%=message.success%>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%} %>

    <div class="container mb-2 mt-2">
        <div class="row">
            <div class="col">
                <a href="#" class="btn btn-outline-primary">Concluído</a>
                <a href="#" class="btn btn-outline-primary">Produzindo</a>
                <a href="#" class="btn btn-outline-primary">Pré-Impressão</a>
                <a href="#" class="btn btn-danger">Refugado</a>            
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header"><span class="display-4">Meu(s) Pedido(s)</span></div>
        <div class="card-body">
            <table class="table table-hover table-sm table-borderless">
                <thead class="thead-dark">
                    <tr>
                        <th>Pedido</th>
                        <th>Status</th>
                        <th>Valor Total</th>
                        <th>Frete</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(o => {%>
                    <tr>

                        <td>
                            <% if(o.status !='CANCELADO'){%>
                            <a href="#">
                                <h6 data-id="<%= o.id %>" class="text-center" onclick="onClick(event)"><%= o.id %> </h6>
                            </a>
                            <%}else{%>
                            <a href="#">
                                <h6 data-id="<%= o.id %>" class="text-center"><%= o.id %> </h6>
                            </a>
                            <%} %>

                        </td>
                        <td>
                            <h6><%= o.status %></h6>
                        </td>
                        <td>
                            <h6><%= parseFloat(o.total).toLocaleString('pt-br',{style:'currency',currency:'brl'}) %>
                            </h6>
                        </td>
                        <td>
                            <h6><%= parseFloat(o.valorFrete).toLocaleString('pt-br',{style:'currency',currency:'brl'}) %>
                            </h6>
                        </td>
                        <td>
                            <div class="row">
                                <% if(o.status !='CANCELADO'){%>

                                <form action="/order/pay/" method="post">
                                    <input type="hidden" name="idOrder" value="<%= o.id %>">
                                    <button type="submit" class="material-icons btn btn-sm btn-outline-primary mr-2"
                                        data-toggle="tooltip" title="Realizar Pagamento">credit_card</button>
                                </form>
                                <form onsubmit="cancelarPedido(event,'Deseja realmente cancelar este pedido?',this)"
                                    action="/order/cancel" method="post">
                                    <input type="hidden" name="idOrder" value="<%= o.id %>">
                                    <button type="submit" class="material-icons btn btn-sm btn-outline-primary mr-2"
                                        data-toggle="tooltip" title="Cancelar Pedido">remove_circle_outline</button>
                                </form>
                                <%} %>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div class="row">
                                <div id="conteudo<%= o.id %>" class="col" style="display: none;"> </div>
                            </div>
                        </td>
                    </tr>

                    <%}); %>

                </tbody>
            </table>
        </div>
    </div>

</div>

<%- include('../../partials/footer') %>

<script src="/js/ajax.js"></script>
<script src="/js/order.js"></script>