<%- include('../../partials/header') %>
<%- include('../../partials/navbarhome') %>




<div class="container mt-3">


    <div class="card mb-3">
        <div class="card-header">Calcular Frete</div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <input type="text" placeholder="Informe aqui o cep" class="form-control" name="cep" id="cep">
                    <button id="btnCalcular" class="btn btn-primary btn-sm form-control mt-2">Calcular</button>
                </div>
                <div class="col">
                    <h6 class="text-center">Resultado</h6>
                    <h6>Cidade</h6>
                    <h6>Rua</h6>
                    <h6>Bairro</h6>
                    <h6>Valor</h6>
                </div>

            </div>

        </div>
    </div>

    <table class="table table-sm table-borderless">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Status</th>
                <th>Valor Total</th>
                <th>Frete</th>
                <th class="text-center">Ação</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(o => {%>
            <tr>

                <td>
                    <a href="#">
                        <h6 data-id="<%= o.id %>" onclick="onClick(event)">Ver itens</h6>
                    </a>
                </td>
                <td>
                    <h6><%= o.status %></h6>
                </td>
                <td>
                    <h6><%= o.total %></h6>
                </td>
                <td>

                    <div class="row">
                        <div class="col-md-2 offset-md-4">
                            <form onsubmit="remover(event,this,'Deseja realmente remover o carrinho?')" method="POST"
                                action="/admin/order/delete">
                                <input type="hidden" name="idOrder" value="<%= o.id %>">
                                <input type="submit" class="btn btn-sm btn-danger" value="Limpar Carrinho">
                            </form>
                        </div>
                        <div class="col-md-2">
                            <form onsubmit="remover(event,this,'Deseja realmente finalizar o carrinho?')" method="POST"
                                action="/cart/finish">
                                <input type="hidden" name="idOrder" value="<%= o.id %>">
                                <input type="submit" class="btn btn-sm btn-primary ml-4" value="Finalizar Carrinho">
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <div class="row">
                        <div id="conteudo<%= o.id %>" class="col" style="display: none;"> </div>
                    </div>
                </td>
            </tr>

            <%}); %>

        </tbody>
    </table>

</div>

<%- include('../../partials/footer') %>

<script src="/js/ajax.js"></script>

<script>

    function onClick(event) {


        requisicao(`http://localhost:8090/admin/order/itensOrder/` + event.target.dataset.id, (data => {

            let dados = JSON.parse(data)
            let conteudo = document.getElementById('conteudo' + event.target.dataset.id)

            if (conteudo.style.display == 'none' || conteudo.style.display == '') {
                conteudo.style.display = 'block'
                conteudo.innerHTML = '';

                dados.forEach(item => {
                    let linkBaixarArquivo = item.arquivo ? `<div class="col">

        
<a class="btn btn-sm btn-outline-primary" href="/uploads/${item.arquivo}"><i class="material-icons">cloud_download</i></a>
</div>`: ''
                    conteudo.innerHTML += `<div class="card border-secondary">
                                <div class="card-body">
                                    <div class="row">
                                <div class="col">
                                    Cod:${item.produto.id}
                                </div>
                                <div class="col">
                                    Item: ${item.produto.nome}
                                </div>
                                <div class="col">
                                    Qtd: ${item.qtd}
                                </div>
                                <div class="col">
                                    Valor: ${item.valor}
                                </div>
                                <div class="col">
                                    <form class="form form-inline" onsubmit="remover(event,this,'Deseja realmente remover o item?')" method="POST" action="/admin/order/itemOrder/delete">
                        <input type="hidden" name="idItem" value="${item.id}">
                        <input type="hidden" name="idPedido" value="${item.pedidoId}">
                        <input type="submit" class="btn btn-sm btn-danger" value="Remover Item">
                        
                    </form>                  
                                </div>
                               
                                
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <form action="/client/upload/${item.id}" class="form form-inline" method="POST" enctype="multipart/form-data" onsubmit="verificaTamanhoArquivo(event,this)">
    <input type="file" accept="image/*" class="btn btn-outline-success btn-sm form-control mt-2" name="file" id="file">  
    <input type="submit" class="btn btn-outline-success btn-sm form-control mt-2" value="Enviar"> 
</form>
                                        
                                        </div>

                                        ${linkBaixarArquivo}
                                    
                                    </div>
                            </div>  
                            </div>`
                });

            } else {
                conteudo.style.display = 'none'
            }

        }
        )
        )


    }


    function remover(event, form, msg) {
        event.preventDefault();
        let decisao = confirm(msg)
        if (decisao)
            form.submit()
    }

    function verificaTamanhoArquivo(event, form) {
        event.preventDefault()
        file = form.children[0]

        let byteToMb = parseFloat(file.files[0].size) * 0.000001;
        if (byteToMb > 100) {
            alert('Arquivo não pode ser maior que 100MB')
        } else {
            form.submit()
        }
    }

    function buscarCep() {

        let cep = document.getElementById('cep');

        document.getElementById('btnCep').addEventListener('click', (event) => {
            buscarCep(cep.value, response => {
                objResponse = JSON.parse(response)
                document.getElementById('rua').value = objResponse.logradouro
                document.getElementById('bairro').value = objResponse.bairro
                document.getElementById('complemento').value = objResponse.complemento
            });
        })
    }
</script>