<%- include('../../partials/header') %>
<%- include('../../partials/navbarhome') %>


<div class="container mt-3">

    <% if(message.error.length>0){%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Erro</strong> <%=message.error%>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%} %>
    <% if(message.success.length>0){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Parabéns</strong> <%=message.success%>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%} %>

    <div class="card">
        <div class="card-header"><span class="display-4">Meu(s) Pedido(s)</span></div>
        <div class="card-body">
            <table class="table table-hover table-sm table-borderless">
                <thead class="thead-dark">
                    <tr>
                        <th>Pedido</th>
                        <th>Status</th>
                        <th>Valor Total</th>
                        <th>Frete</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(o => {%>
                    <tr>

                        <td>
                            <% if(o.status !='CANCELADO'){%>
                            <a href="#">
                                <h6 data-id="<%= o.id %>" class="text-center" onclick="onClick(event)"><%= o.id %> </h6>
                            </a>
                            <%}else{%>
                            <a href="#">
                                <h6 data-id="<%= o.id %>" class="text-center"><%= o.id %> </h6>
                            </a>
                            <%} %>

                        </td>
                        <td>
                            <h6><%= o.status %></h6>
                        </td>
                        <td>
                            <h6><%= parseFloat(o.total).toLocaleString('pt-br') %></h6>
                        </td>
                        <td>
                            <h6><%= parseFloat(o.frete).toLocaleString('pt-br') %> </h6>
                        </td>
                        <td>
                            <div class="row">
                                <% if(o.status !='CANCELADO'){%>

                                <a href="/order/pay/<%= o.id %>"
                                    class="material-icons btn btn-sm btn-outline-primary mr-2" data-toggle="tooltip"
                                    title="Realizar Pagamento">credit_card</a>
                                <i data-toggle="tooltip" data-id="<%= o.id %>"
                                    onclick="cancelarPedido(event,'Deseja realmente cancelar este pedido?')"
                                    title="Cancelar Pedido"
                                    class="material-icons btn btn-sm btn-outline-primary">remove_circle_outline</i>
                                <%} %>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div class="row">
                                <div id="conteudo<%= o.id %>" class="col" style="display: none;"> </div>
                            </div>
                        </td>
                    </tr>

                    <%}); %>

                </tbody>
            </table>
        </div>
    </div>

</div>

<%- include('../../partials/footer') %>

<script src="/js/ajax.js"></script>
<script src="/js/order.js"></script>