<%-include('../../partials/header') %>
<%-include('../../partials/navbarlogin') %>
<%-include('../../partials/navbarlogo') %>
<%-include('../../partials/navbarmenu') %>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Cliente</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">Nome <%= ord.cliente.nome %> </div>
                        <div class="col">Cpf <%= ord.cliente.cnpjCpf %></div>
                        <div class="col">Email <%= ord.cliente.email %></div>
                    </div>
                    <div class="row">
                        <div class="col">Contato <%= ord.cliente.tel %></div>
                        <div class="col">Tel <%= ord.cliente.cel1 %></div>
                        <div class="col">Tel <%= ord.cliente.cel2 %></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Endereço de entrega
                    <% if(ord.metodoEnvio!='RETIRA_BASE' && ord.metodoEnvio!='BALCAO' ){%>
                    <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-sm">Mudar
                        endereço de
                        Entrega</button>
                    <%} %>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span style="font-weight: bold;">Endereço:</span>
                            <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.rua:ord.endereco.rua %>
                        </div>
                        <div class="col">
                            <span style="font-weight: bold;">Bairro:</span>

                            <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.bairro:ord.endereco.bairro %>
                        </div>
                        <div class="col">
                            <span style="font-weight: bold;">Nº:</span>
                            <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.numero:ord.endereco.numero %>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <span style="font-weight: bold;">Cep:</span>
                            <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.cep:ord.endereco.cep %>
                        </div>
                        <div class="col">
                            <span style="font-weight: bold;">Cidade:</span>
                            <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.cidade:ord.endereco.cidade %>
                        </div>
                        <div class="col">
                            <span style="font-weight: bold;">UF:</span>
                            <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.uf:ord.endereco.uf %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span style="font-weight: bold;">Complemento:</span>
                            <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.complemento:ord.endereco.complemento %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="card-header">Pedido</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">Valor:
                            <%= parseFloat(ord.total).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %>
                        </div>
                        <div class="col">Método de Entrega: <%= ord.metodoEnvio  %> </div>
                        <div class="col">Frete:
                            <%= parseFloat(ord.valorFrete).toLocaleString('pt-br',{style:'currency',currency:'BRL'})  %>
                        </div>
                        <div class="col">Data:
                            <%= `${ord.createdAt.getDate()}/${ord.createdAt.getMonth()+1}/${ord.createdAt.getFullYear()}` %>
                        </div>
                    </div>
                    <hr>
                    <h6 class="text-center">Itens do Pedido</h6>
                    <div class="table-responsive container">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Cod</th>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Qtd</th>
                                    <th scope="col">Valor</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% itens.forEach(item=>{%>
                                <tr>
                                    <td><%= item.id %> </td>
                                    <td><%= item.produto.nome %> </td>
                                    <td><%= item.qtd %></td>
                                    <td><%= parseFloat(item.valor).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %>
                                    </td>
                                </tr>
                                <%})%>


                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="card-footer">Total:
                    <%= parseFloat(ord.valorFinal).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Total
                        <%= parseFloat(ord.valorFinal).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%>
                    </h5>

                    <h5 class="text-center">Opções de Pagamento: </h5>
                    <div id="areaPagamento">
                        <div class="row">
                            <div class="col text-center">
                                <form action="/payer" method="post">
                                    <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                                        data-preference-id='<%= global.id %>' data-button-label="Boleto/Cartão">
                                        </script>
                                    <button data-toggle="modal" data-target="#modalContasDeposito" class="btn btn-primary">Realizar Depósito</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!----------------Modal-------------------->
<%- include('../../partials/cart/modalEndereco') %>
<%- include('../../partials/pay/modalContasDeposito') %>

<%- include('../../partials/footer') %>

<script src="/js/modalAlterarEndereco.js"></script>

<script>

    let btnMercadoPago = document.querySelector('.mercadopago-button')
    console.dir(btnMercadoPago)
    btnMercadoPago.classList.add('btn')
    btnMercadoPago.classList.add('btn-primary')
    //btnMercadoPago.classList.remove('mercadopago-button')
</script>