<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>


<div class="container-fluid mt-3">
    <a href="/main/orders/">
        <i class="material-icons">keyboard_return</i>
    </a>

    <div class="card">
        <div class="card-header">Cliente</div>
        <div class="card-body">
            <div class="row">
                <div class="col">Nome <%= ord.cliente.nome %> </div>
                <div class="col">Cpf <%= ord.cliente.cnpjCpf %></div>
                <div class="col">Email <%= ord.cliente.email %></div>
            </div>
            <div class="row">
                <div class="col">Contato <%= ord.cliente.tel %></div>
                <div class="col">Tel <%= ord.cliente.cel1 %></div>
                <div class="col">Tel <%= ord.cliente.cel2 %></div>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">Pedido</div>
        <div class="card-body">
            <div class="row">
                <div class="col">Valor: <%= parseFloat(ord.total).toLocaleString('pt-br',{style:'currency',currency:'BRL'})  %> </div>
                <div class="col">Método de Entrega: <%= ord.metodoEnvio  %> </div>
                <div class="col">Frete: <%= parseFloat(ord.valorFrete).toLocaleString('pt-br',{style:'currency',currency:'BRL'})  %> </div>
                <div class="col">Data: <%= ord.createdAt.toLocaleString('pt-br') %></div>
                <div class="col">Status: <%= ord.status %> </div>
            </div>
            <hr>
            <h6 class="text-center">Itens do Pedido</h6>
            <div class="table-responsive container">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Cod</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Qtd</th>
                            <th scope="col">Altura</th>
                            <th scope="col">Largura</th>
                            <th scope="col">Valor</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% itens.forEach(item=>{%>
                        <tr>
                            <td><%= item.id %> </td>
                            <td><%= item.produto.nome %> </td>
                            <td><%= item.qtd %></td>
                            <td><%= item.altura!=null?item.altura:'---' %> </td>
                            <td><%= item.largura!=null?item.largura:'---' %> </td>
                            <td><%= parseFloat(item.valor).toLocaleString('pt-br') %></td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="card-footer">Total: <%= parseFloat(ord.valorFinal).toLocaleString('pt-br',{style:'currency',currency:'BRL'}) %> </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">Endereço de entrega</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 offset-md-3">
                    <span style="font-weight: bold;">Endereço:</span>
                    <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.rua:ord.endereco.rua %>
                </div>
                <div class="col-md-3">
                    <span style="font-weight: bold;">Bairro:</span>

                    <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.bairro:ord.endereco.bairro %>
                </div>
                <div class="col-md-3">
                    <span style="font-weight: bold;">Nº:</span>
                    <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.numero:ord.endereco.numero %>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 offset-md-3">
                    <span style="font-weight: bold;">Cep:</span>
                    <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.cep:ord.endereco.cep %>
                </div>
                <div class="col-md-3">
                    <span style="font-weight: bold;">Cidade:</span>
                    <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.cidade:ord.endereco.cidade %>
                </div>
                <div class="col-md-3">
                    <span style="font-weight: bold;">UF:</span>
                    <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.uf:ord.endereco.uf %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 offset-md-3">
                    <span style="font-weight: bold;">Complemento:</span>
                    <%=(ord.regiaoEntregaId>0)?ord.regiaoEntrega.complemento:ord.endereco.complemento %>
                </div>
            </div>
            
        </div>

    </div>
</div>

<%- include('../../partials/footer') %>

<script src="/js/ajax.js"></script>