<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>




<div class="container-fluid mt-3">
    <a href="/main/orders/">
        <i class="material-icons">keyboard_return</i>
    </a>
    
    <div class="card">
        <div class="card-header">Cliente</div>
        <div class="card-body">
            <div class="row">
                <div class="col">Nome <%= ord.cliente.nome %> </div>
                <div class="col">Cpf <%= ord.cliente.cnpjCpf %></div>
                <div class="col">Email <%= ord.cliente.email %></div>
            </div>
            <div class="row">
                <div class="col">Contato <%= ord.cliente.tel %></div>
                <div class="col">Tel <%= ord.cliente.cel1 %></div>
                <div class="col">Tel <%= ord.cliente.cel2 %></div>
            </div>
        </div>
        
    </div>
    <div class="card mt-3">
        <div class="card-header">Pedido</div>
        <div class="card-body">
            <div class="row">
                <div class="col">Total: <%= ord.total %> </div>
                <div class="col">Frete: <%= ord.valorFrete %> </div>
                <div class="col">Data: <%= ord.createdAt %></div>
            </div>
            <hr>
            <h6 class="text-center">Itens do Pedido</h6>
            <div class="table-responsive container">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Cod</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Qtd</th>
                            <th scope="col">Valor</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% itens.forEach(item=>{%>
                        <tr>
                            <td><%= item.id %> </td>
                            <td><%= item.produto.nome %> </td>
                            <td><%= item.qtd %></td>
                            <td><%= item.valor %></td>

                        </tr>
                        <%})%>


                    </tbody>
                </table>
            </div>

        </div>
        <div class="card-footer">Total: R$<%= ord.total %> </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">Endereço de entrega</div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    Endereço: <%= ord.cliente.rua %>
                </div>
                <div class="col">
                    Bairro: <%= ord.cliente.bairro %>
                </div>
                <div class="col">
                    Nº: <%= ord.cliente.numero %>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Complemento: <%= ord.cliente.complemento %> 
                </div>
                <div class="col">
                    Cep: <%= ord.cliente.cep %> 
                </div>
            </div>
        </div>
        <div class="card-footer">Rodapé</div>
    </div>
</div>

<%- include('../../partials/footer') %>

<script src="/js/ajax.js"></script>