<%-include('../../partials/header') %>
    <%-include('../../partials/navbarlogin') %>
        <%-include('../../partials/navbarlogo') %>
            <%-include('../../partials/navbarmenu') %>

                <div class="container mt-3">
                    <div class="row justify-content-md-center">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="modal-title" id=""> Recuperação de conta <i class="fas fa-key"></i></h5>
                                </div>
                                <div class="card-body">

                                    <form action="" onsubmit="recordNewPassword(event)" method="post">

                                        <div class="row">
                                            <div class="col">
                                                <label for="codSecurity">Código</label>
                                                <input type="text" placeholder="Informe aqui o código de segurança" required name="codSecurity"
                                                    class="form-control form-control-sm" id="codSecurity">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for="newPassword">Nova Senha</label>
                                                <input type="password" required name="newPassword"
                                                    class="form-control form-control-sm" id="newPassword">
                                            </div>
                                            <div class="col">
                                                <label for="confirmPassword">Confirme a senha</label>
                                                <input type="password" required name="confirmPassword"
                                                    class="form-control form-control-sm" id="confirmPassword">
                                            </div>
                                        </div>
                                        <div class="row justify-content-md-center">
                                            <button type="submit" class="mt-3 btn btn-primary">Confirmar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <%-include('../../partials/footer') %>
                <script src="/js/loginClient.js"></script>