<%- include('../../partials/header') %>
<%- include('../../partials/navbarhome') %>

<div class="container mt-4">

    <h4><%= product.nome %> </h4>
    <hr>

    <div class="row">
        <div class="col">
            <img src="https://s3-sa-east-1.amazonaws.com/arquivosgraficas/midia/1FCAA7EC-0F65-43C2-A490-98C9F1E65A6A/servicos/A9DE7AE0-8428-4BC1-8937-585146EBDC90.jpg"
                alt="">
        </div>

        <div class="col">


            <h3>Sobre o produto</h3>


            <div class="" data-descricao="<%= product.descricao %>" id="descricao">

            </div>
            <h3>Descrição Técnica</h3>
            <p style="margin-bottom: 0%;">Ref: <%= product.codRef %> </p>
            <p style="margin-bottom: 0%;">Tamanho Final:
                <%=parseFloat(product.tamFinalAltura).toLocaleString('pt-br')%>x<%=parseFloat(product.tamFinalLargura).toLocaleString('pt-br') %>
            </p>
            <p style="margin-bottom: 0%;">Tamanho c/Sangria:
                <%=parseFloat(product.tamSangriaAltura).toLocaleString('pt-br')%>x<%=parseFloat(product.tamSangriaLargura).toLocaleString('pt-br') %>
            </p>
            <p style="margin-bottom: 0%;">Material: <%= product.material %> </p>
            <p style="margin-bottom: 0%;">Gramatura: <%= product.gramatura %> </p>
            <p style="margin-bottom: 0%;">Peso: <%= product.peso %> </p>
            <p style="margin-bottom: 0%;">Produção: <%= product.previsaoProducao %> dias úteis </p>
            <p style="margin-bottom: 0%;">Und: <%= product.und=='metroQuadrado'?'Metro Quadrado':'Und' %> </p>
        </div>


        <div class="col">
            <div class="card">

                <div class="card-header">Add ao Carrinho</div>
                <div class="card-body">

                    <form action="/admin/cart/add" class="form" method="post">
                        <div id="formaMedicao" data-und="<%= product.und %>" class="row">
                            <% if(product.und=='und'){ %>
                            <div class="col">
                                <input type="hidden" name="productId" value="<%= product.id %>">
                                <label for="qtd">Quantidade</label>
                                <select name="qtd" data-propriedadeDivisao="<%=product.propriedadeDivisao%>"
                                    class="form-control form-control-sm" id="qtd">
                                    <% for(let i = product.propriedadeDivisao; i<=product.qtd; i+=product.propriedadeDivisao){%>
                                    <option value="<%= i %> "><%= i %>.Und</option>
                                    <%} %>
                                </select>
                            </div>
                            <%  }else{%>
                            <div class="col">
                                <input type="hidden" name="productId" value="<%= product.id %>">
                                <label for="alturar">Altura</label>
                                <input type="text" onkeyup="formatReal(this.value)" class="form-control form-control-sm"
                                    name="altura" id="altura">

                                <label for="largura">Largura</label>
                                <input type="text" class="form-control form-control-sm" name="largura" id="largura">
                            </div>
                            <% } %>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <h5>Valor do Item</h5>
                            </div>
                            <div class="col">
                                <h5 id="vlrel"><%= product.vlrProduto %></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5>Valor Total</h5>
                            </div>
                            <div class="col">
                                <h5 id="vlrTotal"><%= product.vlrProduto %></h5>
                            </div>
                        </div>

                        <% if(user.nome != 'Visitante'){%>
                        <input type="submit" class="btn btn-danger form-control mt-3" data-toggle="tooltip"
                            data-placement="top" title="Adicionar ao carrinho" value="Comprar">
                        <% }else{%>
                            <a href="" class="text-center">
                                <h5>Faça login ou cadastre-se</h5>
                            </a>
                        
                        <% }%>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="/js/product.js"></script>

<%- include('../../partials/footer') %>