<%- include('../../partials/header') %>
<%- include('../../partials/navbaradmin') %>
<script src="/js/slide.js"></script>


<div class="container mt-4">


    <div class="row">
        <div class="input-group col-md-6 mb-3">
            <input id="buscar" name="buscar" type="text" class="form-control form-control-sm"
                placeholder="Bucar slide pelo título">
            <div class="input-group-append">
                <btn class="btn btn-outline-secondary btn-sm" id="btnBuscar" onclick="buscarSlide()" name="btnBuscar">Buscar</a>
            </div>
        </div>
        <div class="col offset-md-4">
            <a href="/admin/slide/new" id="btnNovoSlide" class="btn btn-primary btn-sm">Novo Slide</a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">SubTítulo</th>
                <th scope="col">Imagem</th>
                <th scope="col">AÇÃO</th>
            </tr>
        </thead>
        <tbody>
            <% slides.forEach(slide=>{ %>
            <tr>
                <td>
                    <%= slide.id %>
                </td>
                <td><%=slide.titulo %></td>
                <td><%=slide.subTitulo %></td>
                <td><img src="<%= slide.imagem %> " width="50px" height="50px" alt=""></td>
                <td>                   
                    <form  action="/admin/slide/delete" onsubmit="confirmacao(event,this,'Deseja realmente excluir este slide?')" method="post">
                        <input type="hidden" name="id" id="id" value="<%=slide.id%>">
                        <a href="/admin/slide/edit/<%= slide.id %>" class="btn btn-outline-primary btn-sm"><i class="far fa-edit"></i></a>
                        <button type="submit" class="btn btn-outline-primary btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            <%}) %>
        </tbody>

    </table>

</div>



<%- include('../../partials/footer') %>